@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen {
  table thead {
    position: sticky;
    top: 0;
    z-index: 30;
  }

  table thead th {
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: rgb(248 250 252);
    box-shadow: inset 0 -1px 0 rgb(203 213 225);
  }
}

@media print {
  table thead,
  table thead th {
    position: static;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
html {
  /* Reserva o espaço da scrollbar sem necessariamente mostrá-la */
  scrollbar-gutter: stable;
}
